<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Welcome</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

  <link href="materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>


</head>
<body>
  <nav class="indigo" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Expense Manager</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/signup">SignUp</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/signup">SignUp</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <br>
<div class="row" id="signUpRow">
    <div class="col s12 m4 offset-m4" >
      <div class="card white" >
        <div class="card-content black-text">
          <span class="card-title">Login</span>
         
  <div class="row">
    <form class="col s12" enctype="multipart/form-data" id="loginForm">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" >
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect waves-light indigo" type="submit" >Next
            <i class="material-icons right">send</i>
          </button>  
            </div>
      
    </form>
  </div>

  
        </div>
      </div>
    </div>
  </div>



  <!--  Scripts-->
  <script src="/login.js"></script>
  <script src="materialize/js/materialize.js"></script>
</body>
</html>